<html>
    <head>
        <title>
            Registrador de Cheques
        </title>
        <style>
            .menu { 
                float : left;
                width : 300px;
                border-right-color : black;
                border-right-width : 3px;
                height:100%;
            }
        </style>
    </head>

    <body>
        {%block menu %}
        <div class="menu" > 
        <ul>
            <li> <a href="/c/cheque/create_cheque" >Ingresar Cheque </a></li>
            <li> <a href="/c/cheque/create_banco" > Ingresar Banco </a></li>
            <li> <a href="/c/cheque/ver_cheque_ingresado" >Ver Cheques ingresados </a></li>
            <li> <a href="/c/cheque/buscar" >Buscar Cheques por titular</a></li>
            <li> <a href="/c/cheque/ver_cheque_deposito" >Ver Cheques para depositar</a></li>
            <li> <a href="/c/cheque/ver_cheque_dep_form" >已存支票</a></li>

        </ul>
        </div>
        {%endblock%}
        {%block content%}
        {%endblock%}
    </body>
</html>
