<html>
    <head>
        <!-- 
            {% for x in bodegas %}
                <p> {{x.id}} {{x.nombre}} </p>
            {%endfor %}
        -->
        <script type="text/javascript" src="/static/jquery-1.7.2.js" ></script>
        <script type="text/javascript" src="/static/row.js" ></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var a = getRow();
                $("#insert").append(a);
            });
        </script>
        <style>
            input.text_field { width : 100px }
        </style>
    </head>

    <body>
        <button onClick="window.location='/r';" > Regresar </button>
        <form id="p" method="post" action="{{action}}">
            {% csrf_token %}
            <input type="submit" value="Guardar"/>
            {% if tipo == "T" or tipo == "R" %} <!-- Egreso es transferencia externa -->
                <p> <label > Desde: {% include "choose_bodega.html" with bodegas=bodegas name="desde"%} </label>
               <label>Hasta: </label>
               {% include "choose_bodega.html" with bodegas=bodegas %} 
            {%elif tipo == 'E'%}
                <p> <label > Desde: {% include "choose_bodega.html" with bodegas=bodegas name="desde"%} </label>
                   <label>Hasta: </label>
                {% include "choose_bodega.html" with bodegas=bodegas2 %} 
            {%else%}
                <p> Bodega: 
                {% include "choose_bodega.html" with bodegas=bodegas %} 
            {% endif%}
            </p>
            <table id="insert" cellspacing="10px">
                <tr>
                    <td></td>
                    <th> Codigo </th>
                    <th> Cantidad </th>
                    <th> Nombre de Producto </th>
                </tr>
            </table> 
        </form>
    </body>
</html>
