<!DOCTYPE html>
{%load url from future %}
<html>
    <head>
        <title> Crear cliente nuevo </title>

    </head>
    <body>
        {%if nombre_completo%}
            <p> El cliente <b> {{nombre_completo}} </b> ha sido creado con exito. </p>
        {%endif%}
        <form name="theForm" method="post" action="{% url 'clientes.views.create_client_page' %}">
            {% csrf_token %}
            {{form.as_p }}
            <input type="submit" value="Guardar" />
            <input type="button" value="Cancelar" />
        </form>
    </body>
</html>
