
<html>
    <head>
        <style>
            body {
                text-align : center;
            }
        </style>
    </head>
    <body align="center">
        <h2>{{bodega}}</h2>
        <table width=700>
            <tr>
                <th> Codigo </th>
                <th> Cliente </th>
                <th> Valor </th>
            </tr>
            {% include "snippets/mostrar_venta.html" with nombre="CHEQUE" ordenes=cheques total=ctotal  %}
            {% include "snippets/mostrar_venta.html" with nombre="EFECTIVO" ordenes=efectivos total=etotal  %}
            {% include "snippets/mostrar_venta.html" with nombre="TARJETA" ordenes=targetas total=ttotal  %}
        </table>
    </body>
</html>
