
<html>
    <head>
        <title>Resumen</title>
        <style>
            body {
                text-align : center;
            }
        </style>
    </head>
    <body align="center">
        <h2>{{bodega}}</h2>
        <table width=700 align="center">
            <tr>
                <th width=100 style="text-align:left;"> Codigo </th>
                <th style="text-align:center;"> Cliente </th>
                <th width=100 style="text-align:right;"> Valor </th>
            </tr>
        </table>

        <hr />
        {% include "snippets/mostrar_venta.html" with nombre="CHEQUE" ordenes=cheques total=ctotal  %}
        <hr />
        {% include "snippets/mostrar_venta.html" with nombre="EFECTIVO" ordenes=efectivos total=etotal  %}
        <hr />
        {% include "snippets/mostrar_venta.html" with nombre="TARJETA" ordenes=targetas total=ttotal  %}
    </body>
</html>
