<!-- 
  this is used to render a single form:
  variables:
    form -  the form to render
    method - get or post
    action - action
    st_message - any status message
    submit_name - to display on the submit button
    title - title
-->
{% extends "base.html" %}
{%block title %} {{title }} {%endblock %}
{% block content %}

{%autoescape off %}
{{st_message}} 
{% endautoescape %}

<h3> {{title}} </h3>
<form name="theForm" method="{{method}}" action="{{action}}">
    {% if method == "post" %}
        {% csrf_token %}
    {%endif%}
<table>
    {{form.as_table }}
    <tr>
        <td></td>
        <td><input type="submit" value="{{submit_name}}" />
        <input type="button" value="Cancelar" /> </td>
    </tr>
</table>
</form>

{% endblock %}
