
<html>
    <head>
        <title>Inventario</title>
        <style>

            body {
                text-align : center;
            }
        </style>
    </head>
    <body align="center">
        <table width=700 align="center">
            <tr><td colspan=3 style="{text-align:center;font-family:'Arial'}"><b>{{nombre}}</b></td>

            {% if not ordenes %}
            <tr><td colspan=3 style="{text-align:center;}"> NO HAY </td> </tr>
            {%endif%}

            {% for x in ordenes %}
            <tr>
                <td width=100 > {{x.codigo}} </td>
                <td style="text-align:center;"> {{x.nombre}} </td>
                <td style="text-align:right;" width=100> {{x.cantidad}} </td>
            </tr>
            {%endfor %}
        </table>
    </body>
</html>
