<html>
    <head>
    <title> Producto: {{prod.nombre}} ({{prod.codigo}}) </title>
    </head>
    <body>
        <button onClick="window.print();" > Imprimir </button>
        <button onClick="window.location='/r';" > Regresar al principio </button>
        <div> {{form.as_list}}</div>
        <h2 align="center" >Producto: {{prod.nombre}} ({{prod.codigo}})</h2>
        <table align="center" width=600>
            <tr>
                <th width=100>Desde</th>
                <td>{{request.desde}}</td> 
                <th width=100>Hasta</th>
                <td>{{request.hasta}}</td> 
                <th width=100>bodega</th>
                <td> {% if bodega == 1 %} almacen {%else%} bodega {%endif%}</td> 
            </tr>
        </table>
        <br />
        <hr />
        <table width=600 align="center">
            <tr>
                <th width=100>Fact #</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th width=60>Cantidad</th>
            </tr>
            {% for i in items %}
            <tr>
                <td width=100>{{i.desp_cod_id}}</td> 
                <td>{{i.desp_cod.cliente.fullname}}</td> 
                <td>{{i.desp_cod.fecha}}</td> 
                <td>{{i.cantidad}}</td> 
            </tr>
            {%endfor %}
            <tr>
                <td> </td>
                <td> </td>
                <td><b>Total: </b></td> 
                <td>{{total}}</td> 
            </tr>
        </table>
    </body>
</html>

