<table width=700 align="center">
    <tr><td colspan=3 style="{text-align:center;font-family:'Arial'}"><b>{{nombre}}</b></td>

    {% if not ordenes %}
        <tr><td colspan=3 style="{text-align:center;}"> NO HAY </td> 
    {%endif%}

    {% for x in ordenes %}
        <tr>
            <td width=100 > {{x.codigo}} </td>
            <td style="text-align:center;"> {{x.cliente.fullname}} </td>
            <td style="text-align:right;" width=100> {{x.total}} </td>
        </tr>
    {%endfor %}
        <!--total -->
        <tr>
            <td>  </td>
            <td style="text-align:right;"><b>Total:</b> </td>
            <td style="text-align:right;"><b> {{total}}</b> </td>
        </tr>
</table>
