<html>
    <head>
        <title> {%block title %} {%endblock %} </title>
        <style>
            .menu { 
                float : left;
                width : 300px;
                border-right-color : black;
                border-right-width : 3px;
            }
            .content { float : center;   };

        </style>
    </head>
    <body>
        <div class="menu">
        {% block menu %}
            <ul>
                <li> Ordenes de Despacho 
                    <ul>
                    <li> <a> Notas de Pedidos </a> </li>
                    <li> <a> Ordenes de Despacho </a> </li>
                    </ul>
                </li>

                <li> Productos                 
                    <ul>
                    <li> <a href="/producto/create" > Nuevos Productos </a> </li>
                    <li> <a href="/producto/createbodega" > Crear Bodega </a> </li>
                    <li> <a href="/producto/ver" > Ver Productos </a> </li>
                    <li> <a href="/producto/ingreso" > Ingresos </a> </li>
                    </ul>
                </li>

                <li> Clientes 
                    <ul>
                    <li> <a href="/cliente/create"> Crear Clientes </a> </li> <!-- done -->
                    <li> <a href="/cliente/ver"> Ver clientes </a> </li>
                    <li> <a href="/cliente/eliminar"> Eliminar </a> </li>
                    </ul>
                </li>
                <li> <a href="/ventas/resumen"> Resumen de Venta </a></li>
            </ul>
        {%endblock %}
        </div>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
